# Dependencies
node_modules/

# Production Build
dist/

# Persistent User Data & Storage Volumes (APPLICATION CODE != USER DATA)
shared/
data/
*.tmp.*
*.log

# Environment & Secrets
.env
.env.local
.jwt_secret_key
